backend/app/data/*.db
backend/app/uploads/*
backend/storage/*
frontend/node_modules/
frontend/.next/
frontend/.uploads/
frontend/dist/
frontend/frontend-dev.log
frontend/frontend-prod.log
frontend/frontend-start.err.log
frontend/frontend-start.out.log
frontend/tsconfig.tsbuildinfo
node_modules/
.next/
__pycache__/
*.pyc
.env
backend/*.log
backend/*.out.log
backend/*.err.log
